.body {
  background-color: black;
  color: white;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.bar {
  background-color: rgb(62, 5, 62);
  color: white;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.bar h2 {
  margin: 0;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
  background: linear-gradient(90deg, rgb(182, 47, 182) 0%, rgba(136, 60, 136) 50%, rgba(127, 24, 127, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background: linear-gradient(90deg, rgba(182, 44, 182) 0%, rgb(136, 60, 136) 50%, rgba(127, 24, 127, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.image-container {
  position: absolute;
  top: 55%;
  /*Adjustverticallyasneeded*/right: 80px;
  /*Adjusttomovecloserorfartherfromthecorner*/transform: translateY(-50%);
  display: flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.rectangle-behind {
 position: absolute;
 top: -50px;
 right: -60px;
 width: 550px;
 height: 580px;
 background-color: #3E053E;
 z-index: -1;
 border-radius: 50px;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 -ms-border-radius: 50px;
 -o-border-radius: 50px;
}

.freehand-font {
  font-family: 'Indie Flower', cursive;
}
